---
interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<div
  class:list={[
    "my-7 overflow-x-auto rounded-[17px] border border-slate-200",
    "[&_table]:w-full [&_table]:min-w-[680px] [&_table]:border-collapse [&_table]:text-sm [&_table]:leading-[1.55]",
    "[&_th]:border-b [&_th]:border-slate-200 [&_th]:bg-slate-50 [&_th]:p-[15px] [&_th]:text-left [&_th]:align-top [&_th]:text-xs [&_th]:font-extrabold [&_th]:text-slate-900 [&_th]:uppercase",
    "[&_td]:border-b [&_td]:border-slate-200 [&_td]:p-[15px] [&_td]:align-top [&_tr:last-child_td]:border-b-0",
    "[&_td_code]:rounded-[5px] [&_td_code]:bg-slate-100 [&_td_code]:px-1.5 [&_td_code]:py-0.5 [&_td_code]:text-xs [&_td_code]:text-slate-900",
    className,
  ]}
>
  <slot />
</div>
