---
import "./d1.css";
import Icon from "./Icon.astro";

interface Props {
  href: string;
  variant?: "primary" | "secondary" | "white";
  label: string;
}

const { href, variant = "primary", label } = Astro.props;
---

<a class:list={["d1-button", `d1-button-${variant}`]} href={href}>
  {label}
  <Icon name="arrow" />
</a>
