---
import "./d1.css";
import FeaturedTools from "./FeaturedTools.astro";
import Footer from "./Footer.astro";
import Header from "./Header.astro";
---

<div class="d1-design">
  <Header />
  <main>
    <FeaturedTools />
  </main>
  <Footer />
</div>
